<!DOCTYPE HTML>
<html>
  <head>
    <title>Swipe for AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link href="style.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200" rel="stylesheet" type="text/css" />

    <style>

      /* Swipe 2 required styles */

      .swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
      }
      .swipe-wrap {
        overflow: hidden;
        position: relative;
      }
      .swipe-wrap > * {
        float: left;
        width: 100%;
        position: relative;
        display: block;
      }

      /* END required styles */

    </style>

  </head>
  <body>

    <header>
      <div class="container">

        <h1>Swipe for AngularJS</h1>

        <p>Demo featuring Swipe support for AngularJS.</p>

      </div>
    </header>

    <main>
      <article class="container">

        <section id="demo1" data-ng-controller="DemoController1 as Demo1">

          <h2>Demo 1</h2>

          <swipe-wrap>
            <swipe-slides options="Demo1.sliderConfig">
              <swipe-item><b>I have {{ SwipeCtrl.getNumSlides() }} slides</b></swipe-item>
              <swipe-item><b>1</b></swipe-item>
              <swipe-item><b>2</b></swipe-item>
              <swipe-item><b>3</b></swipe-item>
              <swipe-item><b>4</b></swipe-item>
              <swipe-item><b>5</b></swipe-item>
            </swipe-slides>

            <div class="demo-controls">
              <a class="btn btn-primary" id="prev" data-ng-click="SwipeCtrl.prev()">Prev</a>
              <a class="btn btn-primary" id="next" data-ng-click="SwipeCtrl.next()">Next</a>
              <p>Current slide: <span>{{ SwipeCtrl.getPos() }}</span></p>
            </div>
          </swipe-wrap>

        </section>

      </article>
    </main>

    <footer>
      <div class="container">

        <ul class="list-unstyled">
          <li><a href="https://github.com/lyfeyaj/swipe">Github</a></li>
          <li><a href="https://github.com/lyfeyaj/swipe/issues">Issues</a></li>
        </ul>

      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="build/swipe.min.js"></script>
    <script src="angular.swipe.js"></script>

    <script>
(function() {
  'use strict';

  angular
    .module('myApp', ['angular.swipe'])
    .controller('DemoController1', DemoController1)
    .controller('DemoController2', DemoController2);

  angular.bootstrap(document.body, ['myApp']);

  function DemoController1($scope) {
    var Demo = this;

    Demo.example = 'some example';

    Demo.sliderConfig = {
      startSlide: 0,
      speed: 400,
      auto: 1000,
      draggable: true,
      continuous: true,
      disableScroll: false,
      stopPropagation: false,
      callback: function(index, elem) {},
      transitionEnd: function(index, elem) { $scope.$apply(); }
    };
  }
  function DemoController2() {
    var Demo = this;

    Demo.sliderConfig = {
      startSlide: 0,
      speed: 400,
      auto: 3000,
      draggable: true,
      continuous: true,
      disableScroll: false,
      stopPropagation: false,
      callback: function(index, elem) {},
      transitionEnd: function(index, elem) {}
    };
  }
})();
    </script>

  </body>
</html>
