// ========================================================
// Demo page styles
// ========================================================

// Reset
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}
// Lobotomized owl selector
// See the article from A List Apart on this interesting technique
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
//* + * {
//  margin-top: 1.5em;
//}

article > section > * + * {
  margin: 1.5em 0;
}
// Typography
body {
  font-family: 'Source Code Pro', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  &:after {
    content: '';
    display: block;
    width: 1.5em;
    height: 2px;
    margin: 0.2em 0;
    background-color: currentColor;
  }
}
h1 {
  font-size: 3em;
  //margin: 0.5em 0;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.15em;
}
p {
  //margin: 3em 0;
}
pre code {
  display: block;
  padding: 1em;
}
code {
  padding: 0.2em;
  font-family: 'Source Code Pro', Courier, monospace;
  border-radius: 3px;
}
// Layout
.container {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
header, footer {
  padding: 2em;
}
.list-unstyled {
  list-style: none outside none;

  li {
    display: inline;
  }

  li + li {
    &:before {
      content: ' • '
    }
  }
}
.demo-controls {
  text-align: center;
  padding: 1.5em;
}
// Swipe
.swipe-wrap > div {
  margin: 0;
  b {
    display: block;
    margin: 0 1.5em;
    padding: 4em 1em;
    font-size: 2em;
    text-align: center;
  }
}
// Buttons
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 3px;
  cursor: pointer;
  box-shadow:
    inset 0 -0.1em 0 0 rgba(0,0,0,0.2),
    inset 0  1.15em 0 0 rgba(255,255,255,0.1);
  &:active {
    transform: translateY(2px);
    box-shadow:
      inset 0 1px 0 0 rgba(0,0,0,0.2),
  }
}
