// ========================================================
// Skinning
// ========================================================

$blue: #27AAE1;
$red: #EE3769;
$gray: #5A5A5A;

$slategray: #C8CDD1;


// Default colors
$color-bg:            #ffffff;
$color-text:          #111;
$color-primary:       $blue;
$color-secondary:     $red;
